@font-face {
  font-family: 'Apercu Pro';
  src: url(/fonts/apercu-regular.otf);
}
@font-face {
  font-family: 'Apercu Pro';
  src: url(/fonts/apercu-bold.otf);
  font-weight: bold;
}

html,
body {
  font-family: 'Apercu Pro', sans-serif !important;
  color: #5a6175 !important;
}

.title {
  font-size: 3.6875rem !important;
}

.primary-color {
  background-color: #1dbe71;
}

.secondary-color {
  background-color: #7ebce6;
}

.navbar-item {
  margin-left: 9%;
}

.primary-font-color {
  color: #5a6175;
}

.navbar-item,
.navbar-link {
  color: #5a6175 !important;
}

.has-text-grey {
  color: #5a6175 !important;
}

.has-text-lightgrey {
  color: #c7c6c6 !important;
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
  background-color: #ffffff !important;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
  margin: 1%;
  color: #1dbe71;
}

.input,
.textarea {
  background-color: #fff;
  border-color: #ffffff;
  border-bottom-color: #ededed;
  color: #363636;
  box-shadow: none !important;
  font-family: 'Apercu Pro', sans-serif !important;
}

.input.is-hovered,
.input:hover,
.textarea.is-hovered,
.textarea:hover {
  border-bottom-color: #c7c6c6 !important;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-left-color: #ffffff;
}
