@font-face {
  font-family: 'Apercu Pro';
  src: url(/fonts/apercu-regular.otf);
}
@font-face {
  font-family: 'Apercu Pro';
  src: url(/fonts/apercu-bold.otf);
  font-weight: bold;
}

html,
body {
  font-family: 'Apercu Pro', sans-serif !important;
}

.title {
  font-size: 3.6875rem !important;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
  margin: 1%;
  color: #1dbe71;
}

.primary-color {
  background-color: #1dbe71;
}

.secondary-color {
  background-color: #7ebce6;
}

.content ul {
  list-style-position: outside;
  list-style-image: url('/images/Oval.svg') !important;
  margin-left: 2em;
  margin-top: 1em;
  line-height: 1.9rem;
}

.navbar-item {
  margin-left: 9%;
}

.primary-font-color {
  color: #5a6175;
}
