@font-face {
  font-family: 'Apercu Pro';
  src: url(/fonts/apercu-regular.otf);
}
@font-face {
  font-family: 'Apercu Pro';
  src: url(/fonts/apercu-bold.otf);
  font-weight: bold;
}

html,
body {
  font-family: 'Apercu Pro', sans-serif !important;
}
